nav.navbar {
    background-color: rgba(10, 10, 10, 0.9);
}

.head_img {
    height: 480px;
    width: 100%;
    object-fit: cover;
}

footer {
    padding: 50px;
}

.prd-border{
    border-bottom: 2px solid rgb(19, 160, 89);
}

ul{
    list-style-type: none;
}

.ul-title{
    margin-bottom: 20px;
}

.ul-content{
    border-bottom: 1px solid black;
}

.pay-border{
    margin: 10px;
    border: 1px solid rgb(90, 90, 90);
}

.form-bdr{
    border-color:#343a40 !important;
}

.form-bdr:focus{
    border-color:#c5c5c5 !important;
}

